.header {
  font-family: Craftwork Grotesk, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 60px 0 0 0;
}

.header__socials {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header__social-link {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  margin: 0 24px 0 0;
}

.header__social-link:last-of-type {
  margin: 0;
}

.header__social-icon {}

.header__social-icon-path {
  fill: #9A75FF;
  transition: fill 0.3s ease-in-out;
}

.header__social-link:hover .header__social-icon-path {
  fill: #855CF8;
}

.header__social-icon-stroke {
  stroke: #9A75FF;
  transition: stroke 0.3s ease-in-out;
}

.header__social-link:hover .header__social-icon-stroke {
  stroke: #855CF8;
}

.header__links {
  display: flex;
  flex-direction: row;
  margin: 13px 0 0 100px;
}

.header__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 72px 0 0;
}

.header__link:last-of-type {
  margin: 0;
}

.header__link-text {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height */
  color: #121212;
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.header__link-text_active {
  text-decoration: none;
  color: #855CF8;
}

.header__link-square {
  margin: 8px 0 0 0;
  background: #ffffff;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  transition: background-color 0.3s ease-in-out;
}

.header__link-square_active {
  background: #855CF8;
}

.header__link:hover .header__link-text {
  color: #855CF8;
}

.header__menu {
  display: none;
}

.header__logo {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}

.header__logo-icon {
  margin: 0 12px 0 0;
}

.header__logo-text {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */
  color: #121212;
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.header__logo:hover .header__logo-text {
  color: #855CF8;
}

.header__buy {
  background: #9A75FF;
  border: 2px solid #9A75FF;
  border-radius: 47px;
  padding: 11px 24px;
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.header__buy-text {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height */
  margin: 0;
  color: #FFFFFF;
}

.header__buy:hover {
  background: #855CF8;
}

.header__logo-text_type_mobile {
  display: none;
}

@media (max-width: 1512px) {
  .header__social-icon {
    width: 20px;
    height: 20px;
  }
  .header__buy {
    padding: 8.5px 24px;
  }
  .header__link-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }
  .header__logo-text {
    font-size: 16px;
  }
  .header__buy-text {
    font-size: 16px;
  }
  .header__link {
    margin: 0 28px 0 0;
  }
  .header__links {
    margin: 10px 0 0 71px;
  }
  .header__social-link {
    margin: 0 32px 0 0;
  }
  .header__logo-icon {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 1155px) {
  .header__link-square {
    width: 6px;
    height: 6px;
  }
  .header__buy {
    padding: 7.5px 24px;
  }
  .header__link-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
  }
  .header__logo-text {
    font-size: 12px;
  }
  .header__buy-text {
    font-size: 12px;
  }
  .header__links {
    margin: 10px 0 0 71px;
  }
}

@media (max-width: 896px) {
  .header__logo-icon {
    width: 32px;
    height: 32px;
    margin: 0 11px 0 0;
  }
  .header__logo-text_type_mobile {
    display: flex;
  }
  .header__logo-text_type_pc {
    display: none;
  }
  .header__buy {
    display: none;
  }
  .header__socials {
    display: none;
  }
  .header__links {
    display: none;
  }
  .header__menu {
    display: flex;
    margin: 0 0 0 auto;
  }
  .header {
    padding: 24px 0 0 0;
  }
  .header__logo:hover .header__logo-text {
    color: #121212;
  }

}
