.use-cases {
  margin: 97px 0 0;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 402px;
  grid-auto-rows: 402px;
  row-gap: 20px;
  column-gap: 20px;
  max-width: 1400px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.use-cases__case {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0 80px;
  background: #855CF8;
  border-radius: 28px;
  width: 100%;
}

.use-cases__case-img {
  width: 125px;
  height: 125px;
}

.use-cases__case-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  margin: 29px 0 0;
}

.use-cases__case-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin: 25px 0 0;
  max-width: 250px;
}

@media (max-width: 1544px) {
  .use-cases {
    margin: 84px 0 0;
  }
}

@media (max-width: 839px) {
  .use-cases {
    margin: 63px 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: 232px;
    grid-auto-rows: 232px;
    row-gap: 12px;
    column-gap: 12px;
  }
  .use-cases__case {
    padding: 24px 0 40px;
  }
  .use-cases__case-img {
    width: 100px;
    height: 100px;
  }
  .use-cases__case-title {
    margin: 8px 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  .use-cases__case-text {
    margin: 12px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}
